/*Estilos da página index.html*/

.p1{
    font-size: 25px;
}
.p2{
    font-size: 22px;
}

.justificado{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 20px;
    font-size: 27px;
    font-weight: bold;
}

#menu li a{
    text-decoration: none;
    color: black;
}

#menu li a:hover{
    color: #a32b2c;
}

.pad{
    padding: 25px;
}

.border{
    border-radius: 50%;
}

.center{
    text-align: center;
}

.tamanho{
    width: 40px;
    height: 40px;
    padding: 20px;
}

.fonte{
    font-family: Arial;
}

.moldura{
    border-style: groove;
}

.fundo{
    background: linear-gradient(#617e58,#b7d5ac,#dbead5);
}

.padleft-30{
    padding-left: 30px;
}

.padright-30{
    padding-right: 30px;
}

.letraMusica{
    font-style: italic;
}
/*Estilos da página contato.html*/

.margem-left50{
    margin-left: 50px;
}

.efeitoBotao:hover{
    transform: scale(1.2);
    color: #a32b2c;
}